<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
    <link rel="stylesheet" href="static/css/style1.css">
</head>
<body>
    <div class="container">
        <div class="login">
            <form method="POST" action="{{ url_for('register') }}">
                <h1>Register</h1>
                <hr>
                <p><font color="skyblue">Explore the World!</font></p>
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter your Username" required>
                <label>Email</label>
                <input type="text" name="email" placeholder="abc@example.com" required>
                <label>Password</label>
                <input type="password"  name="password" placeholder="Enter your password!" required>
                <button><b>Submit</b></button>
                <p>
                  Already a Member? <a href="/login"><font color="red">Login</font></a>
                </p>
            </form>
        </div>
        <div class="pic">
            <img src="static/img/back1.jpg">
        </div>
        
    </div>

</body>
</html>
